.main-header {
    text-align: center;
    padding: 15px;
}

/*Botón de cartelera del Home1*/
.the-main {
    text-align: center;
}

/*Fondo del home 1*/
.body-home-1{
    background-color: #ffcc00;
}

/*.tituloEncabezado{
    color: #ffcc00;
}*/

/*Botón de usuario del home2*/
.usuario {
    display: inline-block;
    vertical-align:top;
}











































































#imgg{margin: -50px 650px 20px 650px;}

#fondo1{background-color: #141414;}

.fondo2y3{background-color: #b4b4b4;}































































































































