<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Descripcion</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
    rel="stylesheet" />
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Cabin:wght@500&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="/css/normalize.css">
        <link href="/css/styles.css" rel="stylesheet"> 
</head>
<body class="Carrito1">
    <header id="fondo1"> 

        <div class="box">
            <div class="container-1">
                <div class="menu"> <i class="fas fa-bars"></i> </div>
                <span class="icon"><i class="fa fa-search"></i></span>
                <input type="search" id="search" placeholder="Search..." />
                <div class="ayudaC1"> <i class="far fa-question-circle"></i></div>
            </div>
          </div>

        <div class="immgg">
            <img class="imgg" src="/img/7-2.png">
        </div>
    </header>
    <main class="fondo2y3">
        <section>
            <article class="moverimgC1" >
                <br> <br> <br> <br>
                <div class="boton">
                    <a class="b">
                        <i class="fas fa-angle-left"></i>
                    </a>
                    <input type="submit" value="1" class="boton1">
                    <input type="submit" value="2" class="boton2">
                    <input type="submit" value="3" class="boton3">
                    <input type="submit" value="4" class="boton4">
                    <a class="b">
                        <i class="fas fa-angle-right"></i>
                    </a>
                    
                </div>
                <br> <br> <br> <br>
            </article>

            <article class="fondo4">
               <a class="img2"> <img width="550" height="600" src="https://tuentrada.com/images/61b260c318838.webp"> </a>
               <a id="movv"> <h1> MIRANDA! </h1> </a>
               <h4 class="mov1"> <a class="formato"> <i class="fas fa-calendar-alt"></i> </a> Jueves 13 de enero </h4> 
               <h4 class="mov2"> <a class="formato"> <i class="far fa-clock"></i> </a> 10:00 PM </h4>

               <div class="box1">
                <div class="container-2">
                    <span class="icon1"><i class="fas fa-ticket-alt"></i></span>
                    <input type="submit" id="entradas" value="COMPRA TUS ENTRADAS"  />
                </div>
                </div>
               
                <h4 class="mov3"> <a class="formato"><i class="fas fa-coins"></i> </a> Entrada General: $4000 + $400</h4>
                <div class="bloque1">
                    <a class="formato"><i class="fas fa-users"></i></a>
                    <p> Mayores de 18 años </p>
                </div>
                <div class="bloque2">
                    <a class="formato"><i class="far fa-clock"></i></a>
                    <p> 310 Mins.  </p>
                </div>
                <div class="mov4">
                    <h4> <a class="formato"> <i class="fas fa-map-marked-alt"></i></a> Lugar: Pinamar Park Live </h4>
                    <br>
                    <h4> <a class="formato"> <i class="fas fa-map-marked-alt"></i></a> Ciudad: Pinama </h4>
                </div>
            </article>
            </section>
    </main>
    <footer class="fondo5">
        <div class= "moverIconos">
           <div><i class="fab fa-instagram"></i></div>
           <div><i class="fab fa-twitter"></i></div>
           <div><i class="fab fa-facebook-square"></i></div>
        </div>

        <div class="moverTexto">
            <h5> Politica de Privacidad     |     Terminos y Condiciones Legales     |     Para Productores y Salas </h5>
        </div>
    </footer>
    
</body>
</html>