<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./partials/head.ejs') %>
</head>

<body >
        <header>
            <nav class="header-C1ocultar1">
                <article class="C1header">
                    <div class="header-flex1">
                        <button id="header-iconos1" type="submit"><i class="fas fa-bars"></i></button> 
                        <button id="header-iconos1" type="submit"><i class="far fa-user"></i></button>
                    </div>
                    <div id="imgSoda"> <img width="50%" height="230px" src="\img\Soda-Stereo.jpg" > </div>
                    <div class="C1cont1">
                        <h3 class="C1soda2"> 
                            Soda Stereo
                            <i class="far fa-heart"></i>
                        </h3> 
                        <h6>Concierto</h6>
                        <i class="fas fa-star"></i> 4.0 | 9834 visitas
                    </div>
                </article>
            </nav>
            <nav class="header-2">
                <div class="header-flex2">
                    <button id="header-iconos1" type="submit"><i class="fas fa-bars"></i></button> 
                    <button class="botom-img" type="submit"><a href="http://localhost:3030/home2"><img src="\img\132.png"></a></button> 
                    <button id="header-iconos1" type="submit"><i class="far fa-user"></i></button>
                </div>           
            </nav>
        </header>
        <main>
            <nav class="main-C1ocultar1">
                <ul type='disc' class="C1items1">
                    <li> <h4>Argentina</h4> </li> 
                    <li> <h4>Pinar de Rocha</h4></li>
                </ul>
                <ul type='disc' class="C1items1">
                    <li> <h4>Buenos Aires</h4> </li>
                    <li> <h4> 27/02</h4> </li>
                </ul>
                <button id="C1bcom" type="submit"> <a href="http://localhost:3030/carrito2">Comprar</a></button>
            </nav>   
            <nav class="main-C1ocultar2">  
                <article class="cuadrado1">
                    <button type="submit"> <a href="#"><i class="fas fa-angle-left"></i></a></button>
                    <button type="submit"> <a href="http://localhost:3030/carrito1"> 1 </a></button>
                    <button type="submit"> <a href="http://localhost:3030/carrito2"> 2 </a></button>
                    <button type="submit"> <a href="http://localhost:3030/carrito3"> 3 </a></button>
                    <button type="submit"> <a href="http://localhost:3030/carrito4"> 4 </a></button>
                    <button type="submit"><a href="#"><i class="fas fa-angle-right"></i></a></button>
                </article>
                <article class="cuadrado2">
                    <div class="main-cua2-img">
                        <div class="main-caja-iconos">
                            <button type="submit"><a href="#"><i class="far fa-heart"></i></i></a></button>
                            <button id="mov-iconos" type="submit"><a href="#"><i class="fas fa-shopping-cart"></i></a></button>
                            <button id="mov-iconos" type="submit"><a href="#"><i class="fab fa-spotify"></i></a></button>
                            <button id="mov-iconos" type="submit"><a href="#"><i class="far fa-comment-alt"></i></a></button>
                        </div>
                        <img id="img"  src="\img\Soda-Stereo.jpg" >
                    </div>
                    <div class="main-cua2-info">
                        <h2>Soda Stereo</h2>
                        <h4 class="main-cuad2-flox1">
                            <div> <i id="main-iconos" class="fas fa-calendar-alt"></i> Jueves 13 de enero </div>
                            <div class="mover"> <i id="main-iconos" class="far fa-clock"></i> 10:00 PM </div>
                        </h4>
                        <h4><i id="main-iconos" class="fas fa-coins"></i> Entrada General: $4000 + $400</h4>
                        <div class="main-cuad2-flox2">
                            <p class="formato">
                                <i id="main-iconos" class="fas fa-users"></i>
                                Mayores de 18 años
                            </p>
                            <p class="formato">
                                <i id="main-iconos" class="far fa-clock"></i>
                                310 Mins.  
                            </p>
                        </div>
                        <h4> <i id="main-iconos" class="fas fa-map-marked-alt"></i> Lugar: Pinamar Park Live </h4>
                        <h4> <i id="main-iconos" class="fas fa-map-marked-alt"></i> Ciudad: Pinamar </h4>
                        <button class="main-button1" type="submit"> 
                            <a href="http://localhost:3030/carrito2">
                                <i id="mainn-iconos" class="fas fa-ticket-alt"></i>
                                COMPRA TUS ENTRADAS
                            </a>
                        </button>
                    </div>
                </article>
            </nav> 
        </main>
        <footer class="footer-fondo">
            <%- include('./partials/footer.ejs') %>
        </footer>
</body>
</html>