<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>CarritoParte2</title>
        <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
        rel="stylesheet" />
            <link rel="preconnect" href="https://fonts.googleapis.com">
            <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
            <link href="https://fonts.googleapis.com/css2?family=Cabin:wght@500&display=swap" rel="stylesheet">
            <link rel="stylesheet" href="/css/normalize.css">
            <link href="/css/styles.css" rel="stylesheet"> 
            <STYLE> A  {text-decoration: none;} </STYLE>
    </head>
<body >
        <header>
            <nav class="header-C1ocultar1">
                <article class="C1header2">
                    <div class="header-flex1">
                        <button id="header-iconos1" type="submit"><i class="fas fa-bars"></i></button> 
                        <button id="header-logo2" type="submit"><a href="http://localhost:3000/home2"><img width="100px" src="\img\132.png"></a></button>
                        <button id="header-iconos1" type="submit"><i class="far fa-user"></i></button>
                    </div>
                </article>
            </nav>
            <nav class="header-2">
                <div class="header-flex2">
                    <button id="header-iconos1" type="submit"><i class="fas fa-bars"></i></button> 
                    <button class="botom-img" type="submit"><a href="http://localhost:3000/home2"><img src="\img\132.png"></a></button> 
                    <button id="header-iconos1" type="submit"><i class="far fa-user"></i></button>
                </div>           
            </nav>
        </header>
        <main>
            <nav class="main-C1ocultar1">
                <h2 class="C2-main-selec">Seleccione su entrada</h2>
                <h6 class="C2-main-repetir">Repite tantas veces como lugares a agregar</h6>
                <div class="box3">
                    <div class="container-4"> 
                        <span class="icon1"><i class="far fa-arrow-alt-circle-right"></i></span>
                        <input type="submit" id="entradas1" value=" Platea A "  />
                    </div>
                </div>
                <div class="box3">
                    <div class="container-4"> 
                        <span class="icon2"><i class="far fa-arrow-alt-circle-right"></i></span>
                        <input type="submit" id="entradas2" value="  Platea B  "  />
                    </div>
                </div>
                <div class="box3">
                    <div class="container-4"> 
                        <span class="icon3"><i class="far fa-arrow-alt-circle-right"></i></span>
                        <input type="submit" id="entradas3" value="  Platea C  "  />
                    </div>
                </div>
                <article class="c2-main-mover">
                    <div class="moverP"> 
                        <p>Items </p>    
                        <p>Sector</p> 
                        <p>Lugar</p>   
                        <p>Precio</p>
                    </div>

                    <div class="moverP1"> 
                        <p>Entrada </p>    
                        <p> Unico </p> 
                        <p> N/A </p>   
                        <p> $4400 </p>
                    </div>

                    <div class="moverP2"> 
                        <p>Cant. Items: </p>    
                        <p> 1 </p> 
                        <p> Monto: </p>   
                        <p> $4400 </p>
                    </div>
                </article>
                <div class="main-continuar-button"><button type="submit"><a href="http://localhost:3000/carrito3"> Continuar</a></button></div>
            </nav>   
            <nav class="main-C1ocultar2">  
                <article class="cuadrado11">
                    <button type="submit"> <a href="#"><i class="fas fa-angle-left"></i></a></button>
                    <button type="submit"> <a href="http://localhost:3000/carrito1"> 1 </a></button>
                    <button type="submit"> <a href="http://localhost:3000/carrito2"> 2 </a></button>
                    <button type="submit"> <a href="http://localhost:3000/carrito3"> 3 </a></button>
                    <button type="submit"> <a href="http://localhost:3000/carrito4"> 4 </a></button>
                    <button type="submit"><a href="#"><i class="fas fa-angle-right"></i></a></button>
                </article>
                <nav class="main-cau2-flex">
                    <article class="cuadrado21">
                        <img class="img-1322" src="\img\1322.png">
                        <div class="cua21-flex2">
                            <i id="cua21-icono-rigth" class="fas fa-angle-right"></i>
                            <div>
                                <p class="C2mov1">
                                    <i class="fas fa-calendar-alt"></i> 
                                    Jueves 13 de enero
                                </p> 
                                <p class="C2mov2"> 
                                    <i class="far fa-clock"></i> 
                                    10:00 PM 
                                </p>
                            </div>
                        </div>
                        <div class="cua21-flex2">
                            <i id="cua21-icono-rigth" class="fas fa-angle-right"></i>
                            <p><i class="fas fa-users"></i> Mayores de 18 años </p>
                        </div>
                        <div class="cua21-flex2">
                            <i id="cua21-icono-rigth" class="fas fa-angle-right"></i>
                            <p> <i class="far fa-clock"></i> 310 Mins </p> 
                        </div>
                        <div class="cua21-flex2">
                            <i id="cua21-icono-rigth" class="fas fa-angle-right"></i>
                            <div>
                                <p><i class="fas fa-map-marked-alt"></i>Lugar: Pinamar Park Live </p> 
                                <p><i class="fas fa-map-marked-alt"></i>Ciudad: Pinama </p> 
                            </div>
                        </div>
                    </article>
                    <article class="cuadrado22">
                        <div class="cua22-img"> <img src="\img\Soda-Stereo.jpg"></div>
                        <div class="cua22-info">
                            <div class="container-3"> 
                                <span class="icon1"><i class="fas fa-sort-down"></i></i></span>
                                <input type="submit" id="entradas" value="AGREGA UN LUGAR"  />
                            </div>
                            <h6 class="rep-lug">Repite tantas veces como lugares a agregar</h6>
                            <h2 class="compra"> DATOS DE TU COMPRA</h2>
                            <article class="c2-main-mover">
                                <div class="moverP1"> 
                                    <p>Items </p>    
                                    <p>Sector</p> 
                                    <p>Lugar</p>   
                                    <p>Precio</p>
                                </div>
            
                                <div class="moverP"> 
                                    <p>Entrada </p>    
                                    <p> Unico </p> 
                                    <p> N/A </p>   
                                    <p> $4400 </p>
                                </div>
            
                                <div class="moverP2"> 
                                    <p>Cant. Items: </p>    
                                    <p> 1 </p> 
                                    <p> Monto: </p>   
                                    <p> $4400 </p>
                                </div>
                            </article>
                            <div class="container-4"> 
                                <span class="icon1"><i class="far fa-arrow-alt-circle-right"></i></span>
                                <button  type="submit"><a href="http://localhost:3000/carrito3"> Continuar</a></button>
                            </div>
                        </div>
                    </article>
                </nav>
            </nav> 
        </main>
        <footer class="footer-fondo">
            <div class= "footer-moverIconos">
                <button type="submit"> <a href="#"><i class="fab fa-instagram"></a></i></button>
                <button type="submit"> <a href="#"><i class="fab fa-twitter"></i></a></button>
                <button type="submit"> <a href="#"><i class="fab fa-facebook-square"></i></a></dbuttoniv>
             </div>
            <div class="footer-info">
                <button type="submit"><a href="#">Politica de Privacidad</a></button>
                <p> | </p>
                <button type="submit"><a href="#">Terminos y Condiciones Legales</a></button>
                <p> | </p>
                <button type="submit"><a href="#">Para Productores y Salas</a></button>
            </div>
        </footer>
</body>
</html>