<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CarritoParte2</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
    rel="stylesheet" />
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Cabin:wght@500&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="/css/normalize.css">
        <link href="/css/styles.css" rel="stylesheet"> 
</head>
<body class="Carrito1">
    <header id="fondo1"> 

        <div class="box">
            <div class="container-1">
                <div class="menu"> <i class="fas fa-bars"></i> </div>
                <span class="icon"><i class="fa fa-search"></i></span>
                <input type="search" id="search" placeholder="Search..." />
                <div class="ayudaC1"> <i class="far fa-question-circle"></i></div>
            </div>
          </div>

        <div class="immgg">
            <img class="imgg" src="/img/7-2.png">
        </div>
    </header>
    <main class="C3fondo2y3">
        <section>
            <article class="moverimgC1" >
                <br> <br> <br> <br>
                <div class="boton">
                    <a class="b">
                        <i class="fas fa-angle-left"></i>
                    </a>
                    <input type="submit" value="1" class="boton1">
                    <input type="submit" value="2" class="boton2">
                    <input type="submit" value="3" class="boton3">
                    <input type="submit" value="4" class="boton4">
                    <a class="b">
                        <i class="fas fa-angle-right"></i>
                    </a>
                </div>
            </article>
                <article>
                    <div class="fondo42">
                        <div class="silla" > 
                            <img width="200" height="200" src="img/11.png">
                        </div>
                        <div class="C2flecha"> <i class="fas fa-angle-right"></i> </div>
                        <p class="C2mov1"> <a class="C2formato"> <i class="fas fa-calendar-alt"></i> </a> Jueves 13 de enero </p> 
                        <p class="C2mov2"> <a class="C2formato"> <i class="far fa-clock"></i> </a> 10:00 PM </p>
                        <br>
                        <div class="C2flecha"> <i class="fas fa-angle-right"></i> </div>
                        <p class="C2mov3"> <a class="C2formato"> <i class="fas fa-users"></i> </a> Mayores de 18 años </p> 
                        <br>
                        <div class="C2flecha"> <i class="fas fa-angle-right"></i> </div>  
                        <p class="C2mov3"> <a class="C2formato"><i class="far fa-clock"></i></a>310 Mins </p>                   
                        <br>
                        <div class="C2flecha"> <i class="fas fa-angle-right"></i> </div>  
                        <p class="C2mov3"> <a class="C2formato"><i class="fas fa-map-marked-alt"></i></a>Lugar: Pinamar Park Live </p> 
                        <p class="C2mov3"> <a class="C2formato"><i class="fas fa-map-marked-alt"></i></a>Ciudad: Pinama </p> 
    
                    </div>
                </article>

                <article>    
                <div class="fondo43">

                    <div class="C3moverP"> 
                        <div>Items </div>    
                        <div>Sector</div> 
                        <div>Lugar</div>   
                        <div>Precio</div>
                    </div>

                    <div class="C3moverP1"> 
                        <div>Entrada </div>    
                        <div> Unico </div> 
                        <div> N/A </div>   
                        <div> $4000 </div>
                    </div>

                    <div class="C3moverP2"> 
                        <div> <h5>Subtotal (por cta. y orden)</h5> </div>    
                        <div> $4000 </div> 
                    </div>

                    <div class="C3moverP3"> 
                        <div>Servicio Venta Internet </div>    
                        <div> $400 </div> 
                    </div>

                    <div class="C3moverP4"> 
                        <div><h5>Total a Pagar</h5> </div>    
                        <div> $4400 </div> 
                    </div>

                </div>

                <div class="C3box1">
                    <div class="C3container-1"> 
                        <span class="icon1"><i class="far fa-arrow-alt-circle-right"></i></span>
                        <input type="submit" id="entradas" value= "COMPRAR"  />
                    </div>
                </div>    

                <div class="C3box2">
                    <div class="C3container-2"> 
                        <span class="icon1"><i class="far fa-arrow-alt-circle-left"></i></span>
                        <input type="submit" id="entradas" value= "VOLVER"  />
                    </div>
                </div>      
                <div class="C3Datos"><h3> COMPLETA TUS DATOS </h3></div>
                <div class="C3box3">
                    <div class="C3container-3">
                        <input type="search" id="search" placeholder="Nombre" />
                    </div>
                </div>
                <div class="C3box4">
                    <div class="C3container-4">
                        <input type="search" id="search" placeholder="Apellido" />
                    </div>
                </div>
                <div class="C3box5">
                    <div class="C3container-5">
                        <input type="search" id="search" placeholder="Correo Electronico" />
                    </div>
                </div>
                <div class="C3box6">
                    <div class="C3container-6">
                        <input type="search" id="search" placeholder="Telefono" />
                    </div>
                </div>
                <div class="C3box7">
                    <div class="C3container-7">
                        <input type="search" id="search" placeholder="Provincia" />
                    </div>
                </div>
                <div class="C3box8">
                    <div class="C3container-8">
                        <input type="search" id="search" placeholder="Municipio" />
                    </div>
                </div>
            </article>
            </section>
    </main>
    <footer class="C3fondo5">
        <div class= "moverIconos">
           <div><i class="fab fa-instagram"></i></div>
           <div><i class="fab fa-twitter"></i></div>
           <div><i class="fab fa-facebook-square"></i></div>
        </div>

        <div class="moverTexto">
            <h5> Politica de Privacidad     |     Terminos y Condiciones Legales     |     Para Productores y Salas </h5>
        </div>
    </footer>
    
</body>
</html>