<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include('./partials/head.ejs') %>
    </head>
<body >
        <header>
            <%- include('./partials/header.ejs') %>
        </header>
        <main>
            <nav class="main-C1ocultar1">
                <article class="modo-celu-c3">
                    <article class="c2-main-mover">
                        <div class="moverP1"> 
                            <p>Items </p>    
                            <p>Sector</p> 
                            <p>Lugar</p>   
                            <p>Precio</p>
                        </div>
    
                        <div class="moverP"> 
                            <p>Entrada </p>    
                            <p> Unico </p> 
                            <p> N/A </p>   
                            <p> $4400 </p>
                        </div>
    
                        <div class="moverp3"> 
                            <div> 
                                <h5 class="moverp3-1">Subtotal (por cta. y orden)</h5>   
                                <h5 class="moverp3-2"> $4000</h5>
                            </div>
        
                            <div> 
                                <p class="moverp3-1"> Servicio Venta Internet </p>  
                                <p class="moverp3-3"> $400 </p> 
                            </div>
        
                            <div> 
                                <h4 class="moverp3-1">Total a Pagar</h4>  
                                <h4 class="moverp3-4"> $4400 </h4> 
                            </div>
                        </div>
                    </article>
                    <div class="movil-formulario">
                        <form class="form-flex" action="resultado.html" method="POST">
                            <label><h3>Completa tus datos</h3></label>
                            <input id="main-agrandar" type="text" name="Nombre y Apellido" placeholder="Nombre y Apellido"  required>
                            <input id="main-agrandar" type="email" name="E-mail" placeholder="E-mail" required>
                            <label class="labell" for="fecha">Fecha de nacimiento</label>
                            <input id="main-agrandar" type="date" name="fecha" id="fecha" required>
                            <input id="main-agrandar" type="text" name="Domicilio" placeholder="Domicilio" required>
                            <div>   
                                <input id="main-agrandar" type="text" name="Provincia" placeholder="Provincia"  required>
                                <input id="main-agrandar" type="text" name="Municipio" placeholder="Municipio" required>
                            </div>
                            <input id="main-agrandar" type="tel" name="Tel" placeholder="Tel" required>                            </form>
                    </div>
                    <div class="main-continuar-button"><button type="submit"><a href="http://localhost:3030/carrito4"> Continuar</a></button></div>

                </article>
            </nav>   
            <nav class="main-C1ocultar2">  
                <article class="cuadrado11">
                    <button type="submit"> <a href="#"><i class="fas fa-angle-left"></i></a></button>
                    <button type="submit"> <a href="http://localhost:3030/carrito1"> 1 </a></button>
                    <button type="submit"> <a href="http://localhost:3030/carrito2"> 2 </a></button>
                    <button type="submit"> <a href="http://localhost:3030/carrito3"> 3 </a></button>
                    <button type="submit"> <a href="http://localhost:3030/carrito4"> 4 </a></button>
                    <button type="submit"><a href="#"><i class="fas fa-angle-right"></i></a></button>
                </article>
                <nav class="main-cau2-flex">
                    <article class="cuadrado21">
                        <img class="img-1322" src="\img\1322.png">
                        <div class="cua21-flex2">
                            <i id="cua21-icono-rigth" class="fas fa-angle-right"></i>
                            <div>
                                <p class="C2mov1">
                                    <i class="fas fa-calendar-alt"></i> 
                                    Jueves 13 de enero
                                </p> 
                                <p class="C2mov2"> 
                                    <i class="far fa-clock"></i> 
                                    10:00 PM 
                                </p>
                            </div>
                        </div>
                        <div class="cua21-flex2">
                            <i id="cua21-icono-rigth" class="fas fa-angle-right"></i>
                            <p><i class="fas fa-users"></i> Mayores de 18 años </p>
                        </div>
                        <div class="cua21-flex2">
                            <i id="cua21-icono-rigth" class="fas fa-angle-right"></i>
                            <p> <i class="far fa-clock"></i> 310 Mins </p> 
                        </div>
                        <div class="cua21-flex2">
                            <i id="cua21-icono-rigth" class="fas fa-angle-right"></i>
                            <div>
                                <p><i class="fas fa-map-marked-alt"></i>Lugar: Pinamar Park Live </p> 
                                <p><i class="fas fa-map-marked-alt"></i>Ciudad: Pinama </p> 
                            </div>
                        </div>
                    </article>
                    <article class="cuadrado22">
                        <div>
                            <form class="form-flex" action="resultado.html" method="POST">
                                <label><h3>Completa tus datos</h3></label>
                                <input id="main-agrandar" type="text" name="Nombre y Apellido" placeholder="Nombre y Apellido"  required>
                                <input id="main-agrandar" type="email" name="E-mail" placeholder="E-mail" required>
                                <label class="labell" for="fecha">Fecha de nacimiento</label>
                                <input id="main-agrandar" type="date" name="fecha" id="fecha" required>
                                <input id="main-agrandar" type="text" name="Domicilio" placeholder="Domicilio" required>
                                <div>   
                                    <input id="main-agrandar" type="text" name="Provincia" placeholder="Provincia"  required>
                                    <input id="main-agrandar" type="text" name="Municipio" placeholder="Municipio" required>
                                </div>
                                <input id="main-agrandar" type="tel" name="Tel" placeholder="Tel" required>                            </form>
                        </div>
                        <div class="cua22-info">
                            <h2 class="compra"> DATOS DE TU COMPRA</h2>
                            <article class="c2-main-mover">
                                <div class="moverP1"> 
                                    <p>Items </p>    
                                    <p>Sector</p> 
                                    <p>Lugar</p>   
                                    <p>Precio</p>
                                </div>
            
                                <div class="moverP"> 
                                    <p>Entrada </p>    
                                    <p> Unico </p> 
                                    <p> N/A </p>   
                                    <p> $4400 </p>
                                </div>
            
                                <div class="moverp3"> 
                                    <div> 
                                        <h5>Subtotal (por cta. y orden)</h5>   
                                        <h5> $4000</h5>
                                    </div>
                
                                    <div> 
                                        <p> Servicio Venta Internet </p>  
                                        <p> $400 </p> 
                                    </div>
                
                                    <div> 
                                        <h4>Total a Pagar</h4>  
                                        <h4> $4400 </h4> 
                                    </div>
                                </div>
                            </article>
                            <div class="container-4"> 
                                <span class="icon1"><i class="far fa-arrow-alt-circle-right"></i></span>
                                <button  type="submit"><a href="http://localhost:3030/carrito4"> Continuar</a></button>
                            </div>
                        </div>
                    </article>
                </nav>
            </nav> 
        </main>
        <footer class="footer-fondo">
            <%- include('./partials/footer.ejs') %>
        </footer>
</body>
</html>