<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./partials/head.ejs') %>
</head>


<body class="body-home-2">
    
    <header class="main-header">
        <%- include('./partials/header.ejs') %>
    </header>

    <main>
        <section>
            <h3 class="tittles">Esta semana</h3>
            <article class="conciertos-container-1" >
                <div class="product-description">
                    <img src="/img/img-concierto-1.jpg" >
                    <div class="product-tittle">
                        <p class="concer-tittle">Justin Biener Concert</p>
                        <p class="concert-price">$15.000</p>
                    </div>
                </div>

                <div class="product-description">
                    <img src="/img/img-concierto-2.jpg">
                    <div class="product-tittle">
                        <p class="concer-tittle">Justin Biener Concert</p>
                        <p class="concert-price">$15.000</p>
                    </div>
                </div>

    <h3>Ofertas</h3>

                <div class="product-description">
                    <img src="/img/img-concierto-3.jpg" >
                    <div class="product-tittle">
                        <p class="concer-tittle">Justin Biener Concert</p>
                        <p class="concert-price">$15.000</p>
                    </div>

                </div>
                <div class="product-description">
                    <img src="/img/img-concert-4.jpg" >
                    <div class="product-tittle">
                        <p class="concer-tittle">Justin Biener Concert</p>
                        <p class="concert-price">$15.000</p>
                    </div>
                </div>
                <!--<div class="left-arrow"><i class="fas fa-angle-left"></i></div>
                <div class="right-arrow"><i class="fas fa-angle-right"></i></div>-->

    <h3>Mas esperados</h3>

    
                <div class="product-description">
                    <img src="/img/img-concierto-2.jpg">
                    <div class="product-tittle">
                        <p class="concer-tittle">Daft Punk</p>
                        <p class="concert-price">$15.000</p>
                </div>
                    
                <div class="product-description">
                    <img src="/img/img-concierto-2.jpg">
                    <div class="product-tittle">
                        <p class="concer-tittle">Daft Punk</p>
                        <p class="concert-price">$15.000</p>
                </div>

                <div class="product-description">
                    <img src="/img/img-concierto-2.jpg">
                    <div class="product-tittle">
                        <p class="concer-tittle">Daft Punk</p>
                        <p class="concert-price">$15.000</p>
                </div>
                
                <div class="product-description">
                    <img src="/img/img-concierto-2.jpg">
                    <div class="product-tittle">
                        <p class="concer-tittle">Daft Punk</p>
                        <p class="concert-price">$15.000</p>
                </div>
            </article>
        </section>
    </main>

    <footer>
        <%- include('./partials/footer.ejs') %>
    </footer>
</body>

</html>