<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>home2</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
    rel="stylesheet" />
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link rel="stylesheet" href="/css/normalize.css">
        <link href="/css/styles.css" rel="stylesheet"> 
</head>
<body class="body-home-2">
    <div>
        <img height="80" width="280" src="/img/7-2.png" class="mini-logo" >
        <button type="menu" class="usuario"><a href="/">usuario</a></button>
    </div>
</body>
</html>