<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home2</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
    rel="stylesheet" />
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Cabin:wght@500&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="/css/normalize.css">
        <link href="/css/styles.css" rel="stylesheet"> 
</head>


<body class="body-home-2">
    <header class="main-header">
        <div class="logo-container">
            <a href=""><i class="fas fa-bars"></a></i>
            <img src="/img/logo.png" class="logo-home-2">
            <i class="far fa-user-circle"></i>
        </div>
        <!---->
    </header>

    <main>
        <section>
            <h3 class="tittles">Esta semana</h3>
            <article class="conciertos-container-1" >
                <div class="product-description">
                    <img src="/img/img-concierto-1.jpg" >
                    <div class="product-tittle">
                        <p class="concer-tittle">Justin Biener Concert</p>
                        <p class="concert-price">$15.000</p>
                    </div>
                </div>

                <div class="product-description">
                    <img src="/img/img-concierto-2.jpg">
                    <div class="product-tittle">
                        <p class="concer-tittle">Justin Biener Concert</p>
                        <p class="concert-price">$15.000</p>
                    </div>
                </div>

    <h3>Ofertas</h3>

                <div class="product-description">
                    <img src="/img/img-concierto-3.jpg" >
                    <div class="product-tittle">
                        <p class="concer-tittle">Justin Biener Concert</p>
                        <p class="concert-price">$15.000</p>
                    </div>

                </div>
                <div class="product-description">
                    <img src="/img/img-concert-4.jpg" >
                    <div class="product-tittle">
                        <p class="concer-tittle">Justin Biener Concert</p>
                        <p class="concert-price">$15.000</p>
                    </div>
                </div>
                <!--<div class="left-arrow"><i class="fas fa-angle-left"></i></div>
                <div class="right-arrow"><i class="fas fa-angle-right"></i></div>-->

    <h3>Mas esperados</h3>

    
                <div class="product-description">
                    <img src="/img/img-concierto-2.jpg">
                    <div class="product-tittle">
                        <p class="concer-tittle">Daft Punk</p>
                        <p class="concert-price">$15.000</p>
                </div>
                    
                <div class="product-description">
                    <img src="/img/img-concierto-2.jpg">
                    <div class="product-tittle">
                        <p class="concer-tittle">Daft Punk</p>
                        <p class="concert-price">$15.000</p>
                </div>

                <div class="product-description">
                    <img src="/img/img-concierto-2.jpg">
                    <div class="product-tittle">
                        <p class="concer-tittle">Daft Punk</p>
                        <p class="concert-price">$15.000</p>
                </div>
                
                <div class="product-description">
                    <img src="/img/img-concierto-2.jpg">
                    <div class="product-tittle">
                        <p class="concer-tittle">Daft Punk</p>
                        <p class="concert-price">$15.000</p>
                </div>
            </article>
        </section>
    </main>

    <footer>
        <div class="networks">insragram | Twitter | Reddit | Github | Facebook</div>

        <div>Lorem ipsum dolor sit amet consectetur adipisicing elit. </div> 
        <div>nesciunt suscipit numquam! Tenetur, hic unde. Tempore sint itaque quo et, temporibus tenetur recusandae, quibusdam, natus doloribus autem repudiandae voluptas!</div>
    </footer>
</body>

</html>