<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>home1</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
    rel="stylesheet" />
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link rel="stylesheet" href="/css/normalize.css">
        <link href="/css/styles.css" rel="stylesheet"> 
</head>
<body class="body-home-1">
    <header class="main-header">
        <img width="200px" height="200px" src="/img/logoAmarillo.jpg" alt="" class="logo">
        <h2 class="tituloEncabezado" > Piolakects </h2>
    </header>
    <main class="the-main">
        <div>
            <label for="busqueda">Buscar</label>
            <input type="search" name="Buscar">
        </div>
        <div>
            <label for="cartelera"></label>
            <button>Cartelera</button>
        </div>
    </main>
</body>
</html>