<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./partials/head.ejs') %>
</head>
<body class="body-home-1">
    <header>
        <div class="contenedor-logo">
            <img src="/img/17.png" alt="logo" class="logo">
        </div>
    </header>
    <main class="main-home-1">
        <form action="/h/h2" method="GET" class="form-of-homepage1">
            <label for="search"></label>
            <input type="text" name="barra-de-búsqueda" placeholder="Escribe un evento o artista" class="search-nav-bar"> <br>
            <button type="submit" class="cartelera-button">Cartelera</button>
        </form>
    </main>
    
</body>
</html>