<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./partials/head.ejs') %>
</head>


<body class="body-home-2">
    
    <header class="main-header">
        <%- include('./partials/header.ejs') %>
    </header>

    <main class="home-2-main">
        <section>
            <article class="product-description-slider" >
                    <ul class="slider">
                        <li id="slide1"><img src="/img/img-concierto-1.jpg" ><p class="concert-tittle">Daft Punk Concert</p><br><p class="concert-price">$15.000</p></li>
                        <li id="slide2"><img src="/img/img-concierto-2.jpg" ><p class="concert-tittle">Justin Bieber</p><br><p class="concert-price">$116.000</p></li>
                        <li id="slide3"><img src="/img/img-concierto-3.jpg" ><p class="concert-tittle">The strokes</p><br><p class="concert-price">$16.000</p></li>
                        <li id="slide4"><img src="/img/img-concert-4.jpg" ><p class="concert-tittle">Red hot chilli peper</p><br><p class="concert-price">$117.000</p></li>
                        <li id="slide5"><img src="/img/img-concert-5.jpg" ><p class="concert-tittle">AC/DC</p><br><p class="concert-price">$20.000</p></li>
                    </ul>

                    <ul class="menu">
                        <li><a href="#slide1"></a></li>
                        <li><a href="#slide2"></a></li>
                        <li><a href="#slide3"></a></li>
                        <li><a href="#slide4"></a></li>
                        <li><a href="#slide5"></a></li>
                    </ul>

                
            </article>

            <article class="conciertos-container-1">

                <h3 class="tittles">Hot sale</h3><br>
                <hr class="separacion">

                <div class="product-description">
                    <img class="img-not-slider" src="/img/img-concierto-2.jpg">
                    <div class="product-tittle">
                        <p class="concer-tittle">Justin Biener Concert</p>
                        <p class="concert-price">$15.000</p>
                    </div>
                </div>

                <div class="product-description">
                    <img class="img-not-slider" src="/img/img-concierto-3.jpg" >
                    <div class="product-tittle">
                        <p class="concer-tittle">Justin Biener Concert</p>
                        <p class="concert-price">$15.000</p>
                    </div>
                </div>

                <div class="product-description">
                    <img class="img-not-slider" src="/img/img-concert-4.jpg" >
                    <div class="product-tittle">
                        <p class="concer-tittle">Justin Biener Concert</p>
                        <p class="concert-price">$15.000</p>
                    </div>
                </div>
                <!--<div class="left-arrow"><i class="fas fa-angle-left"></i></div>
                <div class="right-arrow"><i class="fas fa-angle-right"></i></div>-->
            </article>

            <h3 class="tittles">Mas esperados</h3><br>
            <hr class="separacion">
            <article class="conciertos-container-1">
                <div class="product-description">
                    <img class="img-not-slider" src="/img/img-concierto-3.jpg" >
                    <div class="product-tittle">
                        <p class="concer-tittle">Justin Biener Concert</p>
                        <p class="concert-price">$15.000</p>
                    </div>
                </div>

                <div class="product-description">
                    <img class="img-not-slider" src="/img/img-concert-4.jpg" >
                    <div class="product-tittle">
                        <p class="concer-tittle">Justin Biener Concert</p>
                        <p class="concert-price">$15.000</p>
                    </div>
                </div>
        </section>
    </main>

    <footer>
        <%- include('./partials/footer.ejs') %>
    </footer>
</body>

</html>