<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
    rel="stylesheet" />
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Cabin:wght@500&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="/css/normalize.css">
        <link href="/css/styles.css" rel="stylesheet"> 
</head>
<body class="bodyLogin2">
        <div class="Ltexto">
            <h2> Bienvenidos </h2>
        </div> 
        <div class="Lmover1"> <img width="250" height="250" src="/img/11.png" > </div>
        <div class="Lbox">
            <div class="Lcontainer-1"> 
                <input type="submit" id="entradas" value=" Suscribite "  />
            </div>
        </div>
        <div class="Lbox2">
            <div class="Lcontainer-2">
                <input type="search" id="search" placeholder="Tel. usuario o correo electronico" />
            </div>
        </div>
        <div class="Lbox3">
            <div class="Lcontainer-3">
                <input type="search" id="search" placeholder="Contraseña" />
            </div>
        </div>
        
        <div class="Lbox6">
            <div class="Lcontainer-6"> 
                <input type="submit" id="entradas" value=" Iniciar Secion "  />
            </div>
        </div>

</body>
</html>