<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./partials/head.ejs') %>
    <title>Document</title>
</head>
<body>
    <header class="main-header">
        <%- include('./partials/header.ejs') %>
    </header>

    <section class="conciertos-container-1">
        <div class="product-description">
            <div class="product-tittle">
                <a href="#">
                    <div>
                        <img class="img-not-slider" src="/img/img-concierto-1.jpg" alt="producto">
                    </div>
                    <h3 class="products-description-page">The strokes</h3>
                    <h2 class="product-price-page">$8.000</h2>
                </a>
            </div>
        </div>
        <div class="product-description">
            <div class="product-tittle">
                <a href="#">
                    <div class="img-products-container">
                        <img class="img-not-slider" src="/img/img-concierto-2.jpg" alt="producto">
                    </div>
                    <h3 class="products-description-page">Red Hot Chilli Peppers</h3>
                    <h2 class="product-price-page">$8.000</h2>
                </a>
            </div>
        </div>
        <div class="product-description">
            <div class="product-tittle">
                <a href="#">
                    <div class="img-products-container">
                        <img class="img-not-slider" src="/img/img-concierto-3.jpg" alt="producto">
                    </div>
                    <h3 class="products-description-page">AC/DC</h3>
                    <h2 class="product-price-page">$8.000</h2>
                </a>
            </div>
        </div>
    </section>

    <footer>
        <%- include('./partials/footer.ejs') %>
    </footer>
    
</body>
</html>