<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>registro</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
    rel="stylesheet" />
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link rel="stylesheet" href="/css/normalize.css">
        <link href="/css/styles.css" rel="stylesheet"> 
</head>
<body class="body-logreg">

    <header class="main-header">
        <img width="600px" height="200px" src="/img/10-2.png" alt="" class="logo">
        <h2 class="tituloEncabezado" ></h2>
    </header>

    <main class="main-logreg">
        <form action="register.html" method="POST">
            <div class="formulario-registro">
                <div class="nombreyapellido">
                    <label for="nombreyapellido">Nombre y apellido</label>
                    <input type="text" name="nombreyapellido">
                </div>
                <div>
                    <label for="usuario">Nombre de usuari@</label>
                    <input type="text" name="usuario">
                </div>
                <div>
                    <label for="email">Email</label>
                    <input type="email" name="email">
                </div>
                <div>
                    <label for="nacimiento">Fecha de nacimiento</label>
                    <input type="date" name="nacimiento">
                </div>
                <div>

                    <label for="contraseña">Contraseña</label>
                    <input type="password" name="Contraseña">
                </div>
                <div>
                    <label for="confirmarcontraseña">Confirmar Contraseña</label>
                    <input type="password" name="confirmarcontraseña">
                </div>
                <div>
                    <label for="fotodelusuario">Foto de Perfil</label>
                    <input type="file" name="fotodelusuario">
                </div>
                <div class="enviar-borrar">
                    <button type="submit" class="enviar">Enviar</button>
                    <button type="reset" class="borrar">Borrar</button>
                </div>
            </div>
        </form>
    </main>
    
</body>
</html>