<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head.ejs') %>
</head>
<body class="creation-product-body">

    <header>
        <%- include('../partials/header.ejs') %>
    </header>

    <div class="creation-product-form-container">
        <article>
            <form action="h/products" method="post" class="creation-product-form">

                <label for="">Imágenes</label>
                <input type="file" id="image">

                <label for="">Tipo de entrada y precio</label>
                <input type="text" id="typeOfEntry" id="typeOfEntry"> 
                <input type="number" id="price" id="price"> 

                <div class="buttons-container">
                    <button class="back" type="button">Atrás</button>
                    <button class="accept" type="submit">Aceptar</button>
                </div>

            </form>
        </article>
    </div>

    <footer>
        <%- include('../partials/footer.ejs') %>
    </footer>
</body>
</html>