<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head.ejs') %>
    <title>Creacion de Producto</title>
</head>
<body class="creation-product-body">

    <header>
        <%- include('../partials/header.ejs') %>
    </header>

    <div class="creation-product-form-container">
        <article>

            <form action="/create" method="post" class="creation-product-form">
    
                <label for="">Nombre del evento</label>
                <input type="text" id="name" name="name"> 
                
                <label for="">Fecha</label>
                <input type="date" id="time" name="time"> 

                <label for="">Hora</label>
                <input type="datetime" id="hour" name="hour"> 
        
                <label for="">Lugar</label>
                <input type="text" id="place" name="place"> 

                <label for="">Detalles</label>
                <input type="text" id="description" name="description"> 

                <label for="">Imágenes</label>
                <input type="file" id="image">

                <label for="">Tipo de entrada y precio</label>
                <input type="text" id="typeOfEntry" id="typeOfEntry"> 
                <input type="number" id="price" id="price"> 

                <div class="buttons-container">
                    <button class="cancel" type="reset">Cancelar</button>
                    <button class="accept" type="submit">Aceptar</button>
                </div>

            </form>
        </article>
    </div>

    <footer>
        <%- include('../partials/footer.ejs') %>
    </footer>
</body>
</html>