<footer class="footer-fondo">
    <div class= "footer-moverIconos">
        <button type="submit"> <a href="#"><i class="fab fa-instagram"></a></i></button>
        <button type="submit"> <a href="#"><i class="fab fa-twitter"></i></a></button>
        <button type="submit"> <a href="#"><i class="fab fa-facebook-square"></i></a></dbuttoniv>
     </div>
    <div class="footer-info">
        <button type="submit"><a href="#">Politica de Privacidad</a></button>
        <p> | </p>
        <button type="submit"><a href="#">Terminos y Condiciones Legales</a></button>
        <p> | </p>
        <button type="submit"><a href="#">Para Productores y Salas</a></button>
    </div>
</footer>