<header>
   <!-- <nav class="header-C1ocultar1">
        <article class="C1header2">
            <div class="header-flex1">
                <button id="header-iconos1" type="submit"><i class="fas fa-bars"></i></button> 
                <button id="header-logo2" type="submit"><a href="http://localhost:3030/home2"><img width="50px" src="\img\1322.png"></a></button>
                <button id="header-iconos1" type="submit"><i class="far fa-user"></i></button>
            </div>
        </article>
    </nav>-->
    <nav class="header-2">
        <div class="header-flex2">
            <button id="header-iconos1" type="submit"><i class="fas fa-bars"></i></button> 
            <button class="botom-img" type="submit"><a href="http://localhost:3030/home2"><img src="\img\132.png"></a></button> 
            <button id="header-iconos1" type="submit"><i class="far fa-user"></i></button>
        </div>           
    </nav>
</header>