<!DOCTYPE html>
<html lang="en">
<head>
        <%- include('../partials/head.ejs') %>
        <title>Login</title>
</head>
<body>
        <header>
            <%- include('../partials/header.ejs') %>
        </header>

        <main>
            <div class="x"><img src="/img/Piolackets (7).png"></div>
            <div class="x">
                <h2>¡Hola!</h2>
                <h3>Ingresa tu correo y contraseña</h3>

                <p>Si no tiene cuenta por favor suscríbase acá</p>
                <button src="/sprint2/views/users/registro.ejs">Suscribite</button>
            </div> 
        </main>

        <form action="/" method="get" class="x">
            <a>Logo</a>
            <input type="email" name="user-email" id="Correo" value="Correo" placeholder="Ej: piolackets@email.com" class="x" required>
            <label for="Correo">Correo</label>
            <input type="password" name="user-password" id="Contraseña" value="Contraseña" placeholder="piolacketssecretpassword" class="x" required>
            <label for="Contraseña">Contraseña</label>
        </form>

        <footer class="footer-fondo">
            <%- include('../partials/footer.ejs') %>
        </footer>
</body>
</html>