<!DOCTYPE html>
<html lang="en">
<head>
        <%- include('../partials/head.ejs') %>
</head>
<body class="bodyLogin2">
        <header>
        <%- include('../partials/header.ejs') %>
        </header>
        <div class="Ltexto">
            <h2> Bienvenidos </h2>
        </div> 
        <div class="Lmover1"> <img width="250" height="250" src="/img/11.png" > </div>
        <div class="Lbox">
            <div class="Lcontainer-1"> 
                <input type="submit" id="entradas" value=" Suscribite "  />
            </div>
        </div>
        <div class="Lbox2">
            <div class="Lcontainer-2">
                <input type="search" id="search" placeholder="Tel. usuario o correo electronico" />
            </div>
        </div>
        <div class="Lbox3">
            <div class="Lcontainer-3">
                <input type="search" id="search" placeholder="Contraseña" />
            </div>
        </div>
        
        <div class="Lbox6">
            <div class="Lcontainer-6"> 
                <input type="submit" id="entradas" value=" Iniciar Secion "  />
            </div>
        </div>
        <footer class="footer-fondo">
            <%- include('../partials/footer.ejs') %>
        </footer>
</body>
</html>