<!DOCTYPE html>
<html lang="en">
<head>
        <%- include('../partials/head.ejs') %>
        <title>Login</title>
</head>
<body>
        <header>
            <%- include('../partials/header.ejs') %>
        </header>

        <main class="login-main"> 
        <h1 class="login-title">¡Bienvenido a Piolackets!</h1>
        <button href="/sprint2/views/users/register.ejs" class="login-btns">Registrarse</button>
        <!--Agregar lineas y logo en medio con href que dirija al home-->
        <form action="/user/login" method="post" class="login-form">
            <div class="login-fields">
                <label for="email">Email</label>
                <input type="email" name="email" id="email" class="x" required>
                <label for="Contraseña">Contraseña</label>
                <input type="password" name="user-password" id="Contraseña" class="x" required>
            </div>
            <input type="submit" value="Ingresar" class="login-btns">
        </form>
        </main>

        <footer class="footer-fondo">
            <%- include('../partials/footer.ejs') %>
        </footer>
</body>
</html>