<!DOCTYPE html>
<html lang="en">
<head>
        <%- include('../partials/head.ejs') %>
        <title>Registro</title>
</head>
<body>
        <header>
            <%- include('../partials/header.ejs') %>
        </header>

        <main>
            <div class="x"><img src="/img/Piolackets (7).png"></div>
            <div class="x">
                <h1>Bienvenido</h1>

                <p>Si ya esta suscripto ingresa por acá</p>
                <button src="/sprint2/views/users/Login.ejs">Ingresa</button>
            </div> 
        </main>

        <form action="/" method="post" class="x" enctype="multipart/form-data">
            <input type="file" id="avatar">
            <input type="text" name="user-name" id="Nombre" value="Nombre" class="x" required>
            <label for="Nombre">Nombre</label>
            <input type="email" name="user-email" id="Correo" value="Correo" class="x" required>
            <label for="Correo">Correo</label>
            <input type="password" name="user-password" id="Contraseña" value="Contraseña" class="x" required>
            <label for="Contraseña">Contraseña</label>
        </form>

        <footer class="footer-fondo">
            <%- include('../partials/footer.ejs') %>
        </footer>
</body>
</html>