<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head.ejs') %>
    <title>Users</title>
</head>
<body>
    <header>
        <%- include('../partials/header.ejs') %>
    </header>

    <main>
        <div>avatar</div>
        <ol>
            <li>Nombre: </li>
            <li>Correo: </li>
            <li>Contraseña: </li>
        </ol>
    </main>

    <footer class="footer-fondo">
        <%- include('../partials/footer.ejs') %>
    </footer>
</body>
</html>