<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head.ejs') %>
    <title>Users</title>
</head>
<body>
    <header>
        <%- include('../partials/header.ejs') %>
    </header>
    <!--<svg id="Logo_user" data-name="Logo user" xmlns="http://www.w3.org/2000/svg" width="40" height="37" viewBox="0 0 40 37">
    <path id="Trazado_1" data-name="Trazado 1" d="M68.26,47.982c-11.248-.141-20.43,8.353-20.278,18.756.15,9.978,8.933,18.1,19.72,18.24,11.249.142,20.43-8.351,20.276-18.754C87.831,56.245,79.047,48.121,68.26,47.982Zm12.155,29.1a.4.4,0,0,1-.3.114.394.394,0,0,1-.288-.142,11.662,11.662,0,0,0-3.11-2.632,18.049,18.049,0,0,0-17.466,0,11.659,11.659,0,0,0-3.11,2.631.394.394,0,0,1-.288.142.4.4,0,0,1-.3-.114,14.988,14.988,0,0,1-4.488-10.338C50.9,58.093,58.58,50.85,67.94,50.828S84.9,57.837,84.9,66.481a14.969,14.969,0,0,1-4.488,10.605Z" transform="translate(-47.981 -47.981)" fill="#2a445e"/>
    <path id="Trazado_2" data-name="Trazado 2" d="M195.047,144a6.842,6.842,0,0,0-5.2,2.288A7.737,7.737,0,0,0,188.032,152c.3,4.314,3.447,7.83,7.015,7.83s6.708-3.517,7.015-7.829a7.669,7.669,0,0,0-1.829-5.7A6.832,6.832,0,0,0,195.047,144Z" transform="translate(-175.047 -136.577)" fill="#2a445e"/>
    </svg>-->

    <main class="user-main">

        <div class="user-details">
            <img src="/sprint2/public/img/human-dog.jpg">
            <p>User Name</p>
            <p>User Mail</p>
            <p>User Company</p>           
        </div>

        <div class="user-historial">
            <div class="orange-left-line"></div>
            <p>Productos</p>
            <div class="orange-right-line"></div>
            <div class="user-historial-list">
                 <!--AGREGAR LAS CARTAS DE PRODUCTOS CON SU LOGICA Y ESTILOS INCLUIDOS-->
            </div>
        </div>

    </main>

    <footer class="footer-fondo">
        <%- include('../partials/footer.ejs') %>
    </footer>
</body>
</html>